Classroom Info <br />
<%= render partial: 'classroom', locals: {classroom: @classroom} %>
<%= @classroom.students.each do |s| %>
    <p><%= render partial: 'students/student', locals: {student: s} %></p>
<% end %>